<nav
    class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top px-3">
    <div
        class="container-fluid d-flex align-items-center">
        <p class="h3 m-0 py-3 fw-medium text-primary opacity-75">Angular
            Exercise</p>

        <div class="justify-content-end d-flex justify-content-center align-items-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/task-one" class="nav-link text-nowrap"
                        aria-current="page">Task 1</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/task-three"
                        class="nav-link text-nowrap">Task 3</a>
                </li>
            </ul>
        </div>
    </div>

</nav>